/*
Pantallas extra pequeñas (móviles) < 576px
Pantallas pequeñas (_sm, tablets _en vertical) ≥ 576px
Pantallas medianas (md, para tablets en horizontal)  ≥ 768px
Pantallas grandes (lg, tamaño escritorio) ≥ 992px
Pantallas extra grandes (xl, escritorio grande) ≥ 1200px
*/
$square-size: (
  0px: 20px,
  576px: 70px,
  768px: 100px,
  992px: 150px,
  1200px: 200px,
);
$square-font-size: (
  0px: 10px,
  576px: 35px,
  768px: 50px,
  992px: 70px,
  1200px: 80px,
);
@each $width-screen, $width in $square-font-size {
  @media screen and (min-width: $width-screen) {
    .square {
      font-size: $width;
    }
  }
}
@each $width-screen, $width in $square-size {
  @media screen and (min-width: $width-screen) {
    .square {
      height: $width;
      width: $width;
    }
  }
}